extends layout

block content

    h1=title

    


    if bookinstance
        h3= bookinstance.book.title
        h3=bookinstance._id
        p Do you really want to delete this Book?
        form(action="", method="POST")
            div.form-group
                input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=bookinstance._id)
            button.btn.btn-primary(type='submit') Delete